
    <div id="testdiv">
      
      <ol>
        <li>The registation of the patent as described below is hereby requested</li>
        <li>Title of invention:
          <input type="text"/>
        </li>
        <li>Applicant
          <ol><li>Name:</li>
            <li>Address:</li>
            <li>Postal address for services. if non-resident in sri lanka:   
            </li>
            <li>Resident or principle place of bisiness:</li>
            <li>Telephone Number(if any)</li>
            <li>Fax(if any)</li>
            <li>E-mail(if any)</li>
          </ol>
        </li>
        <li>INVENTER
          <ol>
            <li>Name:</li>
            <li>Address:</li>
            
          </ol>
        </li>
        <li>AGENT(If any)()
          <ol>
            <li>Name:</li>
            <li>Address:</li>
            <li>Telephone Number(if any)</li>
            <li>Fax(if any)</li>
            <li>E-mail(if any)</li>
          </ol>
        </li>
        <li>BASIS OF APPLICANT'S RIGHT TO  THE PATENT(  Select the appropriate box)
          <div class="checkbox">
            <label><input type="checkbox">Applicant is the Inventor.</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox">Applicant is the legal representative of the inventor.</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox">Applicant is the assignee of the inventor.</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox">Applicant is the owner of the invention which was made -</label>
          </div>
          <ul>
            <li><div class="checkbox">
              <label><input type="checkbox">while the inventor was in the employment of the applicant.</label>
            </div></li>
            <li><div class="checkbox">
              <label><input type="checkbox">by the inventor in the performance of a contract for the execution of work.</label>
            </div></li>
          </ul>
          <div class="checkbox">
            <label><input type="checkbox">Any other(specif)</label>
          </div>
          <p>A statement specifying in more details the basis of the applicant's(who is not the inventor) right to the patent accompanies the application (provide sufficient copies of the statement for all non-applicant inventors).</p>
        </li>
        <li><label>The declaration of the inventor indicating the willingness to forgo his name begin included in the patent is annexed(whereapplicable)<input type="checkbox"></label></li>
        <li>DIVISIONAL APPLICATION(cross the appropriate box):
          <ul>
            <li>
              <div class="checkbox">
            <label><input type="checkbox">This application is a divitional application.</label>
          </div></li>
          <li><div class="checkbox">
            <label><input type="checkbox">The benefit of the filling date of the initial application is claimed in as much as the subject matter of the present application is contained in the application identified below -<br/>
            Initial Application Number :<br/>
            Date of filling of Initial Application: </label>
          </div></li>
          </ul>
        </li>
        <li>Disclosures To Be Disregarded for prior art purposes:<br/>(Cross the appropriate box)
          <ul>
            <li>
              <div class="checkbox">
            <label><input type="checkbox">Disclosure was due to act of applicant or his predecessor in title.</label><br/><label>Date of disclosure:</label><input type="text" name="">
          </div>
            </li>
            <li><div class="checkbox">
            <label><input type="checkbox">Dsclosure was due to abuse of rights of applicant or his predecessor in title.</label><br/><label>Date of disclosure:</label><input type="text" name="">
          </div></li>
          (A statement specifying in more detail the disclosure should accompany the application).
          </ul>
        </li>
        <li>PRIORITY CLAIM(if any)
          <ul>
            <li><label>The priority of an ealier application is claimed as follow:</label><input type="text"></li>
            <li><label>Country(if the ealier application is regional or International application indicate those countries for which it was filed)</label><input type="text"></li>
            <li><label>Filling Date:</label><input type="text"></li>
            <li><label>Application Number :</label><input type="text"></li>
            <li><label>If a regional or international application Indicate the national office or inter Government organization with which it was filed.</label><input type="text"></li>
            <li><label>Symbel of the International Patent Classification (IPC), if already allocated.</label><input type="text"></li>
           <li>The priority document<br/><label>Accompanies the application will be furnished by :</label><input type="text"></li>
          </ul>
        </li>
        <li>SEARCH REPORT(cross the appropriate box):
         <div class="checkbox">
            <label>A<input type="checkbox">An international - type search report furnished by * <input type="text">is enclosed herewith</label>
          </div>
          <div class="checkbox">
            <label>B<input type="checkbox">An international - type search report has been requested from * <input type="text">and will be filled with the director General within three months of the date of its issue.</label>
          </div>
          <div class="checkbox">
            <label>C<input type="checkbox">The director general is requested to refer this application to a local examiner for a search of relevant prior art. The prescribed fee is enclosed for this purpose.<input type="text">is enclosed herewith</label>
          </div>
        </li>
        <li><label>Date and No. of an application for  a patent filled by the applicant abroad, if any , relating to the same or essentially the same invention and the country/countries where the application has been made</label><input type="text"></li>
        <li>The applicant declares that he or his predecessor in the title has not obtained a patent abroad befpre this application was filedrelevent to the same or essentially the same invetion as that claimed in this application.</li>
        <li>
          <ul>
            <li><label>SIGNATURE OF APPLICANT:</label><input type="text"></li>
            <li><label>DATE:</label><input type="text"></li>
          </ul>
        </li>
        <li>
          CHECK LIST(to be checked by the application)
          <ul>
            <li>(A) This application contain the following.
              <ul>
                <li>Request</li>
                <li>Description sheets*</li>
                <li>claims sheets*</li>
                <li>abstract sheets*</li>
                <li>Drawings sheets*</li>
                <li>Total</li>
              </ul>
            <li>(B)This application is accompanied by:
              <ul>
                <li>Apower of altorney</li>
                <li>A declaration not to name the inventor in the patent</li>
                <li>A statement justifying applicant's right to the patent</li>
                <li>A statement that certain disclousures be disregarded</li>
                <li>An international-type search report</li>
                <li>Priority documents</li>
                <li>Cash,cheque,money order,bankers drafts or postal order for the payment of application </li>
                <li>Examination fee</li>
                <li>Other documents(specif)</li>
              </ul>    
            </li>
          </ul>
        </li>
      </ol>
    
       
    </div> 
    <input  (click)="genpdf()" type="submit" value="submit"/>

